## Data Cleaning & Feature Engineering liliya.chvileva@gmail.com
lowercases for column names
drop: id, name, state: suspended + goal == 0,
features: create duration from launch and end data (datatype conversion)

In [1]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the dataset
df = pd.read_csv('data/kickstarter_projects.csv')

# Lowercases for column names

In [3]:
# Convert column names to lowercase
df.columns = df.columns.str.lower()

In [4]:
# Display the first few rows of the dataframe to understand its structure
print(df.head())

           id                                               name
0  1860890148  Grace Jones Does Not Give A F$#% T-Shirt (limi...  \
1   709707365                     CRYSTAL ANTLERS UNTITLED MOVIE
2  1703704063                                drawing for dollars
3      727286                       Offline Wikipedia iPhone app
4  1622952265                                         Pantshirts

       category   subcategory        country             launched    deadline
0       Fashion       Fashion  United States  2009-04-21 21:02:48  2009-05-31  \
1  Film & Video        Shorts  United States  2009-04-23 00:07:53  2009-07-20
2           Art  Illustration  United States  2009-04-24 21:52:03  2009-05-03
3    Technology      Software  United States  2009-04-25 17:36:21  2009-07-14
4       Fashion       Fashion  United States  2009-04-27 14:10:39  2009-05-26

    goal  pledged  backers       state
0   1000      625       30      Failed
1  80000       22        3      Failed
2     20       35        3  Successful
3     99      145       25  Successful
4   1900      387       10      Failed

# New DataFrame for droped: id, name, state: suspended + goal == 0

In [5]:
# Filter rows where state is not "suspended" and goal is not 0
filtered_df = df[(df['state'] != 'Suspended') & (df['goal'] != 0)]

# Drop the specified columns and rename the DataFrame
dropped_df = filtered_df.drop(columns=['id', 'name', 'state'])

# Display the first few rows of the filtered DataFrame
print(dropped_df.head())

       category   subcategory        country             launched    deadline
0       Fashion       Fashion  United States  2009-04-21 21:02:48  2009-05-31  \
1  Film & Video        Shorts  United States  2009-04-23 00:07:53  2009-07-20
2           Art  Illustration  United States  2009-04-24 21:52:03  2009-05-03
3    Technology      Software  United States  2009-04-25 17:36:21  2009-07-14
4       Fashion       Fashion  United States  2009-04-27 14:10:39  2009-05-26

    goal  pledged  backers
0   1000      625       30
1  80000       22        3
2     20       35        3
3     99      145       25
4   1900      387       10

# Duration of each project

In [6]:
# Convert 'launched' and 'deadline' columns to datetime format
df['launched'] = pd.to_datetime(df['launched'])
df['deadline'] = pd.to_datetime(df['deadline'])

# Calculate the duration of each project
df['duration'] = (df['deadline'] - df['launched']).dt.days

# Display the first few rows of the DataFrame with the new 'duration' feature
print(df[['launched', 'deadline', 'duration']].head())

             launched   deadline  duration
0 2009-04-21 21:02:48 2009-05-31        39
1 2009-04-23 00:07:53 2009-07-20        87
2 2009-04-24 21:52:03 2009-05-03         8
3 2009-04-25 17:36:21 2009-07-14        79
4 2009-04-27 14:10:39 2009-05-26        28

In [7]:
# save a new csv file to data

df.to_csv('data/modified_kickstarter_projects.csv', index=False)