In [3]:
import pandas as pd
import seaborn as sns

In [4]:
df = pd.read_csv('data/kickstarter_projects.csv')
df.head()

,ID,Name,Category,Subcategory,Country,Launched,Deadline,Goal,Pledged,Backers,State
0,1860890148,Grace Jones Does Not Give A F$#% T-Shirt (limi...,Fashion,Fashion,United States,2009-04-21 21:02:48,2009-05-31,1000,625,30,Failed
1,709707365,CRYSTAL ANTLERS UNTITLED MOVIE,Film & Video,Shorts,United States,2009-04-23 00:07:53,2009-07-20,80000,22,3,Failed
2,1703704063,drawing for dollars,Art,Illustration,United States,2009-04-24 21:52:03,2009-05-03,20,35,3,Successful
3,727286,Offline Wikipedia iPhone app,Technology,Software,United States,2009-04-25 17:36:21,2009-07-14,99,145,25,Successful
4,1622952265,Pantshirts,Fashion,Fashion,United States,2009-04-27 14:10:39,2009-05-26,1900,387,10,Failed

In [5]:
df.shape

(374853, 11)

In [6]:
df.isna().sum()

ID             0
Name           0
Category       0
Subcategory    0
Country        0
Launched       0
Deadline       0
Goal           0
Pledged        0
Backers        0
State          0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374853 entries, 0 to 374852
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ID           374853 non-null  int64
 1   Name         374853 non-null  object
 2   Category     374853 non-null  object
 3   Subcategory  374853 non-null  object
 4   Country      374853 non-null  object
 5   Launched     374853 non-null  object
 6   Deadline     374853 non-null  object
 7   Goal         374853 non-null  int64
 8   Pledged      374853 non-null  int64
 9   Backers      374853 non-null  int64
 10  State        374853 non-null  object
dtypes: int64(4), object(7)
memory usage: 31.5+ MB

In [8]:
df_can = df[df['State'].isin(['Canceled'])]
print(df_can.shape)
percentage_lost = (df_can.shape[0] / df.shape[0]) * 100
print(str(round(percentage_lost,2)) + '%')

(38751, 11)
10.34%

In [9]:
df_sus = df[df['State'].isin(['Suspended'])]
print(df_sus.shape)
percentage_lost = (df_sus.shape[0] / df.shape[0]) * 100
print(str(round(percentage_lost,2)) + '%')

(1842, 11)
0.49%

In [13]:
df_sus.head(100)

,ID,Name,Category,Subcategory,Country,Launched,Deadline,Goal,Pledged,Backers,State
4758,323824315,"Boobs, Breasts, and Sex Appeal : : An artistic...",Photography,Photography,United States,2010-06-23 01:15:15,2010-07-26,100,0,0,Suspended
6399,546540380,http://boo.bs - fighting breast cancer with so...,Games,Games,United States,2010-08-09 05:41:40,2010-11-01,15000,0,0,Suspended
6468,605472774,The Right to Climb: Revolutionizing Support fo...,Art,Art,United States,2010-08-11 02:22:53,2010-09-10,4500,0,0,Suspended
6741,2127489984,"Let's get Kill Kill Kill to Japan with a 7"" re...",Music,Music,United States,2010-08-18 21:09:22,2010-10-01,800,0,0,Suspended
6757,313825513,SwipeGood - Swipe your card. Change the world....,Technology,Technology,United States,2010-08-19 04:16:07,2010-09-18,17840,95,5,Suspended
...,...,...,...,...,...,...,...,...,...,...,...
63677,294829916,Freedom Sleeve: Turn your iPod into an iPhone ...,Technology,Hardware,United States,2012-07-31 18:07:46,2012-09-14,100000,105412,440,Suspended
63857,1538611763,Brittle Mama - Best Bite You'll Take (Suspended),Food,Food,United States,2012-08-01 20:40:34,2012-09-01,1500,975,27,Suspended
64377,2075318164,AmbioLight: Atmosphere changing LED lighting (...,Design,Product Design,United States,2012-08-06 23:31:50,2012-09-20,6700,7583,88,Suspended
64579,1131629221,MY CITY (Suspended),Film & Video,Narrative Film,United States,2012-08-07 23:33:32,2012-09-06,25000,21,2,Suspended
64656,2033339396,I am MONKEY !!! (Suspended),Publishing,Fiction,United States,2012-08-08 14:34:11,2012-09-07,2000,5135,77,Suspended

In [11]:
goal_zero = df[df['Goal'] == 0]

In [12]:
goal_zero

,ID,Name,Category,Subcategory,Country,Launched,Deadline,Goal,Pledged,Backers,State
1085,620302213,LOVELAND Round 6: A Force More Powerful,Art,Conceptual Art,United States,2009-11-25 07:54:49,2009-12-04,0,100,6,Successful
33831,688564643,"Word-of-mouth publishing: get ""Corruptions"" ou...",Publishing,Fiction,United States,2011-11-07 16:46:52,2011-12-13,0,0,0,Canceled
40294,9572984,Nana,Film & Video,Shorts,United States,2012-01-25 07:23:19,2012-03-16,0,0,0,Failed
316197,1379346088,Bug's Big Adventure: Mexico Edition,Art,Art,Mexico,2016-11-11 16:30:00,2016-11-12,0,16,7,Successful